:root {
  --primary: #1fb0e0;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg);
  color: black;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #1e82a3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 9999;
}

.navbar img{
  width: 200px;
  object-fit: contain;
}
.navbar .navbar-nav {
  display: flex;
  margin-top: 1.4rem;
  margin-left: auto;
  position: relative;
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
  transition: 0.2s linear;
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}
/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/kanopii.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 5%,
    rgba(255, 255, 255, 0.9),
    80%
  );
}
.hero .content {
  text-align: center;
  max-width: 60rem;
  padding: 1.5rem 7%;
}

.hero .content h1 {
  font-size: 5em;
  color: #0a0a0a;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);s
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 4rem;
  font-size: 1.4rem;
  color: #111010;
  background-color: var(--primary);
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
}

.about {
  padding: 7rem 7% 1.4rem;
}

.about h2{
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 600;
}

.about h2 span{
  color: var(--primary);
}

.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding:1rem ;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.about .row .content p {
  margin-bottom: 0.6;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}



/* media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(88, 95, 156);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    margin-left: 0;
    flex-direction: column;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.2);
}

.about .row{
  flex-wrap: wrap;
}
.about .row .about-img img{
  height: 24rem;
  object-fit: cover;
  object-position: center;
}
/* mobile */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
